  @font-face {
    font-family: Helvetica;
    src: url(fonts/Helvetica-Bold-Font.ttf);
    font-family: Sophisto;
    src: url(fonts/Sophisto\ OT\ W01\ AGauge.ttf);
  }

  body {
      
      margin: 0;
      padding: 0;
      font-size: 15px;
      font-family: Sophisto;
      color: rgb(0, 0, 0);
      overflow-x: hidden;
  }
  body {	
    &::before, &::after {
      position: fixed;
      inset: 0;
      z-index: -1;
      --grad: 
        radial-gradient(at 25%, 
            red, #{rgba(red, .2)} 50%, transparent 70%);
      --mask: var(--grad), var(--grad), var(--grad);
      -webkit-mask: radial-gradient(red, transparent 90%);
      /* -webkit-mask-composite: source-in;
              mask: var(--mask);
              mask-composite: intersect; */
      mix-blend-mode: color;
      content: ''
    }
    
    &::before {
      background: #000;
      filter: url(#bg-filter)
    }
    
    &::after {
      background: linear-gradient(10deg, rgb(80, 9, 80), rgb(255, 57, 173) 20%, rgb(0, 34, 255));
    }
  }

  .header {

      width: 100%;
      border-bottom: 2px solid rgb(0, 0, 0); 
      text-align: right;
      position: relative;
      
      .logo {
      position: absolute;
      top: -3px;
      left: -3px;
      border: 2px solid black;
      margin-right: 20px;
      /* border-right: 2px solid rgb(210, 210, 210); */

      }
      .search{
        position: absolute;
        top: 18px;
        left: 20vw;
      }
  }
  .title{
    border: 2px solid black;
  }
  .menu {
    margin-right: 40px;
    
  }

  .dropdown{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #0f0f0f;
    width: 60px;
  }

  .dropdown:hover {
    .dropdown-nav {
      opacity: 1;
      transform: translateY(0);
      

    }
  }

  .dropdown-nav {

    opacity: 0;
    transition: transform .3s cubic-bezier(0.88,-0.72, 0, 1), opacity .3s ease-in-out;
    transform: translateX(4rem);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 999;
    a {

      font-size: 1rem;
    }
  }

  .menu {

    list-style: none;
    .dropdown-nav {
      right: 5px;
      top: 50px;
      border: 2px solid black;
      background-color: rgb(255, 255, 255);
      height: 240px;
      a {
        margin-right: 20px;

        position: relative;
      z-index: 1;
      display: block;
      letter-spacing: 0.01rem;
      padding: 4px 1px;
      text-decoration: none;

      width: 110px;
      transition: 0.2s;
      }
    }

    a {
      &:hover {
        
        color: #fff;
        .icon { fill: #fff; }
      }
    }
  }


  .interlink {
      display: inline-block;
      padding: 15px 0;
      margin: 10px 20px;
      position: relative;
      text-decoration: none;
      color: #0f0f0f;

  }
  .user, .home {
    display: inline-block;
    padding: 15px 0;
    margin: 5px 0px;
    position: relative;
    text-decoration: none;
    color: #0f0f0f;

  }



  .post-item {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

/***********************8 profile ***************/
.profile-container{
  padding-top: 50px;
text-align: center;

}

.user-listings {

  width: 300px;
  flex-wrap: wrap;
  border: 2px solid rgb(0, 0, 0);
background-color: rgba(255, 255, 255, 0.7); 
  height: 360px;
  margin: 7px;

}
.user-card-body{
  padding-left: 20px;
}





  /*search bar*/

  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }


  /* search input field */
  input[type=search] {
    background-color: rgba(221, 43, 201, 0.1);
    border: solid 2px rgba(0, 0, 0);
    padding: 5px 40px 5px 40px;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 0.125em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  input[type=search]:focus {

    background-color: #000000;
  }

  /* placeholder */
  input:-moz-placeholder {
    color: #ffffff;
  }
  input::-webkit-input-placeholder {
    color: #909090;
  }

  /* demo B */
  #search-bar input[type=search] {
    width: 12vw;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
  }
  #search-bar input[type=search]:hover {
    background-color: rgba(21, 0, 253, 0.2);
    border-color: #a5639a;
  }
  #search-bar input[type=search]:focus {
    width: 12vw;
    color: #000000;
    background-color: #f3f3f3;
    cursor: auto;
  }
  #search-bar input:-moz-placeholder {
    color: transparent;
  }
  #search-bar input::-webkit-input-placeholder {
    color: #a5639a;
  }
  .filters{
    background-color: rgb(255, 255, 255);
    display: none;
    border: 2px solid black;
  }
  .search input:focus + .filters { display: block; }


  /* categories */
  button {
    position: relative;
    border: none;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    margin: 0 10px;
    padding: 10px 33px;
    font-family: Sophisto;
  }

  .shrink-border {
    display: flex;
    
    background-color: transparent;
    color: #1b1b20;
  }
  .shrink-border:hover {
    background-color: transparent;
    box-shadow: none;
    color: #e6e6e6;
  }

  .shrink-border:hover::before {
    opacity: 0;
  }
  .shrink-border::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 0.150em;
    border: 2px solid #000000;
    opacity: 0;
    z-index: 1;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s;
  }
  .shrink-border:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }


  .categories{

  margin: 70px 170px;
  }










  /**************** directory */
  .directory {
    font-size: 20px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 11vw;
  }

  #carousel{
    margin-left: 15vw;
    margin-right: 15vw;
  }















  /* products */
  @media only screen and (max-width: 640px){
    
    .image-container-inside img{
      width: 350px;
    height: 350px;
    }

    .content-container{
      width: 100px;
      flex-wrap: wrap;
      border: 2px solid rgba(55, 55, 55, 0.1);
    /*   background-color: rgba(255, 255, 255, 0.7); */
      height: 140px;
      margin: 7px;
  }
      .products{
          flex-wrap: wrap;
          
      }
      .filter-category-container{
          height: 250px;
    }
    .product-box{
      
    }
    .product-image{
      
      width: 100%;
    }
  }

  .products {
      margin-top: 50px;
      padding: 0px 10vw;
      display: flex;
      justify-content: center;
      padding-top: 10px;
      flex-wrap: wrap;
  }
  .custom-card{
    width: 300px;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.7); 
    height: 400px;
    margin: 7px;
  }
  .content-container{
      width: 300px;
      flex-wrap: wrap;
      border: 2px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.7); 
      height: 360px;
      margin: 7px;
  }


  .content-image {
      background-repeat: no-repeat;
      text-align: center;
      border-bottom: 2px solid black;
  }

  .content-title, .content-price, .content-seller {
    margin: 5px;
  }
  h1, .card-title {
    font-size: 16px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    margin: 5px;
  }
  h2, .card-text {
    font-size: 14px;
    font-family: Sophisto;
    color: rgb(0, 0, 0);
    margin: 5px;
  }
  h3, .list-group-flush {
    font-size: 13px;
    font-family: Sophisto;
    color: rgb(102, 26, 93);
    margin: 5px;
  }
  .product-link-page {
    text-decoration: none;
  }




  /****************** product details******************** */


  .product-box-container{
    width: 100%;
    border-bottom: 2px solid black;

  }

  .product-box{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;

  }

  .product-image{
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    height: 85vh;
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 900px;
  }

  .image-container-inside{
    border: 2px solid black;
    width: 650px;
    height: 650px;
    display: flex;
    padding: 10px;
  }
  .image-container-inside img{
    width: 650px; 
    height: 650px; 
    object-fit: cover;
    object-position: 25% 25%; 
  }


  .details-container{
    margin-top: 20vh;
    width: 20%;
    padding-left: 5vw;
  }
  .details-title{
    width: 400px;
    font-weight: 800;
    font-size: 40px;
  }
  .details-price{
    margin-top: 10px;
    font-size: 25px;
  }
  .caption-detail{
    
    margin-top: 18px;
    font-size: 20px;
  }

  .details-desc{
    padding-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    height: 110px;
    width: 25vw;

  }
  .details-date{
    position: relative;
    width: 430px;
    margin-top: 10px;
    font-size: 15px;
  }
  .details-seller{
    position: relative;
    width: 430px;
    margin-top: 10px;
    font-size: 15px;
  }
  .details-button{
    margin-top: 20px;
    display: flex
  }
  .details-right{
    float: inline-end;

  }
  .chat-button{
    margin: 20px;
  }
  .chat-button button{
    width: 18vw;
    border: 2px solid black;
    cursor: pointer;
  }
  .seller-button{
    
    margin-top: 25px;
  }
  .seller-button button{
    border: 2px solid black;
  }

/***************************8 chat*********************** */

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  padding:10px 40px;
  background-color: #000000;
  color: white;
  font-size:17px;
  max-width:300px;
  border-radius:2px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;  
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  border: 2px solid black;
  z-index: 9999; /* Ensure the chat box appears on top of other elements */
 
}

/* Add styles to the form container */
.form-container-chat {
  max-width: 300px;
  padding: 10px;
  border-radius:2px;
  background-color: white;
  color:#777;
}

/* Full-width textarea */
.form-container-chat textarea {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius:2px;
  background: #ddd;
  resize: none;
  min-height: 200px;
  color:#777;
}

/* When the textarea gets focus, do something */
.form-container-chat textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container-chat .btn {
  background-color: #000000;
  color: white;
   font-size:17px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 95%;
  margin-bottom:10px;
}

/* Add a red background color to the cancel button */
.form-container-chat .cancel {
    color: #000000;
    border: 2px solid black;
  background-color: #ffffff;
  width: 95%;
}

/* Add some hover effects to buttons */
.form-container-chat .btn:hover, .open-button:hover {
opacity: 0.8;
}
  /*********************sign up modal*********************/
  .error{
    font-size: 20px;
    color: red;

  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 

  }
  .modalOpen{
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
  }

  .close {
    color: #000000;
    float: right;
    right: 10px;
    font-size: 35px;
    display: flex;
    position:absolute;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .sign-in-container span{
    font-size: 13px;
    margin-top: 5px;
  }


  /************sign up form*******/
  .pageCenter{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh; 
  }

  .container{
    background-color: #fff;
    border-radius: 0px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    min-height: 480px;
  }


  .container span{
    margin-top: 5px;
  }

  .container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
  }

  .container button{
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 1px;

    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }


  .container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
  }

  .container input{
    background-color: #f3f3f3;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border: 1.8px solid rgb(0, 0, 0);
    border-radius: 1px;
    width: 100%;
    outline: none;
  }

  .form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  @keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
  }

  .social-icons{
    margin: 10px 0;
  }

  .social-icons a{
    border: 1px solid #a5a5a5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    transition: all 0.1s;
  }

  .social-icons a:hover{
    scale: 1.3;
    border: 1px solid #d9d9d9;
  }

  a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
  }
  a:hover { text-decoration: none }



  .search-box{margin:80px auto;position:absolute;}
  .caption{margin-bottom:50px;}
  .loginForm input[type=text], .loginForm input[type=password]{
  margin-bottom:10px;
  }
  .loginForm input[type=submit]{
  background:#fb044a;
  color:#fff;


  }


  #pswd_info {
    background-color: #fff;
  border: 1px solid rgb(205, 205, 205);
  color: #000000;

  position: fixed;
  top: 27%; 
  left: 53%;
  }
  #pswd_info h4{

    display: block;
    letter-spacing: 0;
    padding: 17px 0;
    text-align: center;

  }
  #pswd_info ul {
    list-style: outside none none;
  }
  #pswd_info ul li {
  padding: 5px 20px;
  }



  .valid {

  color: rgb(35, 104, 35);
  line-height: 21px;
  padding-left: 22px;
  }

  .invalid {
  background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/olmaj1p8z/invalid.png") no-repeat scroll 2px 6px;
  color: rgb(0, 0, 0);
  line-height: 21px;
  padding-left: 22px;
  }


  #pswd_info::before {
    border-bottom: 1px solid rgb(205, 205, 205);
    border-left: 1px solid rgb(205, 205, 205);
    content: "";
    height: 25px;
    left: -13px;
    margin-top: -12.5px;
    position: absolute;
    top: 30%;
    transform: rotate(45deg);
    width: 25px;
  }
  #pswd_info {
      display:none;
  }

  /****************add item page*********************/
  .form-group{
    padding: 10px;
    margin-left: 10vw;
    width: 30vw;
  }
  .item-information{
    width: 30vw;
  }
  .container-upload-item {
    padding: 80px 10%;

  }
  .container-upload-item input, .container-upload-item textarea{
    background-color: #f3f3f3;
    border: none;
    margin: 8px 0;
    padding: 15px;
    font-size: 13px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1px;
    width: 100%;
    outline: none;
  }
  .col-md-12{
    width: 50%;
  }
  .row{
    display: flex;
    width: 100%;
  }
  .box {
    position: relative;
    width: 100%;
  }

  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border: 2px solid #000000;
    margin-bottom: 10px;
  }

  .button-upload{
    border: 2px solid black;
  }

  .dropzone-wrapper {
    border: 2px dashed #000000;
    color: #000000;
    position: relative;
    height: 150px;
  }

  .dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
  }

  .dropzone,
  .dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
  }

  .dropzone-wrapper:hover,
  .dropzone-wrapper.dragover {
    background: #ecf0f5;
  }

  .preview-zone {
    text-align: center;
  }

  .preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }

/*************************88 about us page ****************/
  .container-interlink{
    margin: 70px;
    margin-top: 18vh;
    padding-left: 20vw;
    padding-right: 20vw;
  }

  .about-us{
    font-size: 20px;
    font-weight: 600;
  }

  .customer-support{
    margin-top: 50px;
    font-size: 15px;
    font-weight: 600;
  }
  .about-interlink p{
    text-align: justify;
      text-indent: 50px;
    
  }
  .faks{
    margin: 30px;
    margin-top: 10vh;
    padding-left: 6vw;
    padding-right: 6vw;
  }
  .faks p{
    margin-left: 40px;
    text-indent: -40px;
  }
  
/**************************** footer ***********************/
  .footer{
    width: 100%;
    position: relative;
    padding-top: 4em;
    padding-bottom: 4em;
    border-top: 2px solid rgb(0, 0, 0);

  }

  .footer__container{

    width: calc(100% - 16.66666%);
    margin: 0 auto;
    padding-left: 8.33333%;
    padding-right: 8.33333%;
    position: relative;
    text-align: center;
    
    span{
        font-size: 0.8rem;
        display: block;
        position: relative;
        
        data{
            font-size: 0.8rem;
            font-weight: 700;
            position: relative;
        }
    }
  }